.imgSize{
    width: 100%;
}
.offer-head{
    color: #0054a6;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    margin-top: 1%;
    margin-left: 40%;   
    
}
.container{
    margin-left: 0%;
    
    
}